<div class="container">
  <div class="row">
    <div class="col-md-5 mt-4">
      <div class="text-center">
        <h4><span class="bg-light">会員情報編集</span></h4>
      </div>
    </div>
    <div class="col-md-7">
    </div>
  </div>
  <div class="mt-4">
  <%= form_with model: @customer, url: customers_information_path do |f| %>
    <div class="form-group row">
      <div class="input-group">
      <label for="inputName" class="col-md-2 col-form-label text-center">氏名</label>
      <div class="col-md-4 d-flex">
        <span class="col-md-2 mt-1 "></span><%= f.text_field :last_name %>
      </div>
      <div class="col-md-4 d-flex">
        <%= f.text_field :first_name %>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="input-group">
      <label for="inputName2" class="col-md-2 col-form-label text-center">フリガナ</label>
      <div class="col-md-4 d-flex">
        <span class="col-md-2 mt-1"></span><%= f.text_field :last_name_kana %>
      </div>
      <div class="col-md-4 d-flex">
        <%= f.text_field :first_name_kana %>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="input-group">
      <label for="inputPostal_code" class="col-md-2 col-form-label text-center">郵便番号</label>
      <div class="col-md-4 d-flex">
        <span class="col-md-2 mt-1"></span><%= f.text_field :postal_code %>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="input-group">
      <label for="inputAdres" class="col-md-2 col-form-label text-center">住所</label>
      <div class="col-md-4 d-flex">
        <span class="col-md-2 mt-1"></span><%= f.text_field :address %>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="input-group">
      <label for="inputTelephone" class="col-md-2 col-form-label text-center">電話番号</label>
      <div class="col-md-8  d-flex">
        <span class="col-md-1 mt-1"></span><%= f.text_field :telephone_number %>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="input-group">
      <label for="inputEmail" class="col-md-2 col-form-label text-center">メールアドレス</label>
      <div class="col-md-4 d-flex">
        <span class="col-md-2 mt-1"></span><%= f.email_field :email, autocomplete: "email" %>
      </div>
      </div>
    </div>
    <div class="form-group row pt-5">
      <div class="input-group">
        <div class="col-md-2"></div>
        <div class="col-md-4 d-flex">
          <span class="col-md-2 mt-1"></span><%= f.submit "編集内容を保存", class:"btn btn-success" %>
        </div>
        <div class="col-md-4 d-flex">
          <span class="col-md-2 mt-1"></span><%= link_to "退会する", customers_confirm_withdraw_path, class:"btn btn-danger" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

