<div class="container-fluid">
  <div class="row pt-5">
    <div class="col-md-2"></div>
    <div class="col-md-6 ml-5">
      <h4><span class="bg-light">マイページ</span></h4>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row pt-3">
    <div class="col-md-7 ml-5">
      <div class="row">
        <div class="col-md-2 mt-2">
          <h5 class="font-weight-bold">登録情報</h5>
        </div>
        <div class="col-md-3">
          <%= link_to "編集する", customers_information_edit_path, class:"btn btn-success" %>
        </div>
      </div>
    </div>
    <div class="col-md-5"></div>
  </div>
  <div class="row pt-3">
    <div class="col-md-7">
      <table class="table table-bordered">
        <tr>
          <th class="table-active" style="width: 30%">氏名</th>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th class="table-active">カナ</th>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-active">郵便番号</th>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th class="table-active">住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th class="table-active">電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-5"></div>
  </div>
  <div class="row pt-3">
    <div class="col-md-7 ml-5">
      <div class="row">
        <div class="col-md-2 mt-2">
          <h5 class="font-weight-bold">注文履歴</h5>
        </div>
        <div class="col-md-3">
          <%= link_to "一覧を見る", orders_path, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>
