<div class="container">
  <div class="row mt-4">
    <div class="col-md-8 pl-5">
      <h4><span class="bg-light">商品編集</span></h4>
    </div>
  </div>
  <div class="row justify-content-center pt-3">
    <div class="col-md-auto">
      <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
        <div class="form-group row">
          <label for="inputFormControlFile" class="col-md-3 col-form-label">商品画像</label>
          <div class="col-md-9">
            <%= f.file_field :image, class:"form-control-file", accept: "image/*" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputItemName" class="col-md-3 col-form-label">商品名</label>
          <div class="col-md-8">
            <%= f.text_field :name, class:"form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputIntroduction" class="col-md-3 col-form-label">商品説明</label>
          <div class="col-md-8">
            <%= f.text_area :introduction, class:"form-control", style:"height: 200px;" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPrice" class="col-md-3 col-form-label">税抜価格</label>
          <div class="col-md-8">
            <%= f.text_field :price, class:"form-control" %>
          </div>
          <div class="col-md-1 pt-2">円</div>
        </div>
        <div class="form-group row pt-5">
          <div class="col-md-3"></div>
          <div class="col-md-8 text-center">
            <%= f.submit "変更を保存", class:"btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

