<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>
<% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<p>会員ID <%= @customer.id %></p>

<%= form_with model: @customer, url: admin_customer_path do |f| %>
  <div class="field">
    <%= f.label "氏名" %>
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label "フリガナ" %>
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label "郵便番号" %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label "電話番号" %>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "退会ステータス" %>
    <%= f.radio_button :is_deleted, "false" %>
    <%= f.label :is_deleted_false, "有効" %>
    <%= f.radio_button :is_deleted, "true" %>
    <%= f.label :is_deleted_true, "退会" %>
  </div>

  <div class="actions">
    <%= f.submit "変更を保存" %>
  </div>

<% end %>