<h2>会員一覧</h2>
<% @customers.each do |customer| %>
<p>会員ID<%= customer.id %></p>
<p>
  氏名
  <%= link_to admin_customer_path(customer.id) do %>
    <%= customer.last_name %><%= customer.first_name %>
  <% end %>
</p>
<p>メールアドレス<%= customer.email %></p>
<p>
  ステータス
  <% if customer.is_deleted? %>
    退会
  <% else %>
    有効
  <% end %>
</p>
<% end %>

<%= paginate @customers %>