<div class="container pt-5">
  <div class="row pb-3">
    <div class="col-md-8">
      <h4><span class="bg-light">注文履歴詳細</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <p class="font-weight-bold">購入者</p>
        </div>
        <div class="col-md-10">
          <%= @order.customer.last_name %><%= @order.customer.first_name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="font-weight-bold">注文日</p>
        </div>
        <div class="col-md-10">
          <%= @order.created_at.strftime('%Y/%m/%d') %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="font-weight-bold">配送先</p>
        </div>
        <div class="col-md-10">
          <span>〒<%= @order.shipping_postal_code %><%= @order.shipping_address %></br>
          <%= @order.shipping_name %></span>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-md-2">
          <p class="font-weight-bold">支払い方法</p>
        </div>
        <div class="col-md-10">
          <%= @order.payment_i18n %>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-8">
      <table class="table">
        <thead class="table-active">
          <th scope="col">商品名</th>
          <th scope="col">単価(税込)</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
        </thead>
      <tbody>
        <% @order.order_details.each do |order_detail| %>
        <tr>
          <td style="width: 40%"><%= order_detail.item.name %></td>
          <td class="align-middle" style="width: 15%"><%= order_detail.item.with_tax_price.to_s(:delimited) %></td>
          <td class="align-middle" style="width: 15%"><%= order_detail.amount %></td>
          <td class="align-middle" style="width: 15%">
            <% order_detail_subtotal = 0 %>
            <% order_detail_subtotal = order_detail.item.with_tax_price*order_detail.amount %>
            <%= order_detail_subtotal %>
          </td>
          <% @total += order_detail_subtotal %>
        </tr>
        <% end %>
      </tbody>
      </table>
    </div>
    <div class="col-md-4 align-self-end text-right">
      <div class="row">
        <div class="col-md-8 font-weight-bold pr-5">商品合計</div>
        <div  class="col-md-4"><%= @total.to_s(:delimited) %></div>
      </div>
      <div class="row">
        <div class="col-md-7 font-weight-bold pr-5">送料</div>
        <div class="col-md-5"><%= @order.postage %></div>
      </div>
      <div class="row">
        <div class="col-md-8 font-weight-bold">請求金額合計</div>
        <div class="col-md-4">
          <% @order.billing_amount = @total + @order.postage %>
          <%= @order.billing_amount.to_s(:delimited) %>
        </div>
      </div>
    </div>
  </div>
</div>
