<h2>注文履歴一覧</h2>

<table>
  <thead>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
  </thead>

  <tbody>
    <% @order_all.each do |order_all| %>
      <tr>
        <td>
          <%= link_to admin_order_path(order_all.id) do %>
            <%= order_all.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          <% end %>
        </td>
        <td><%= order_all.customer.last_name %><%= order_all.customer.first_name %></td>
        <td>
          <% order_item_amount = 0 %>
          <% order_all.order_details.each do |order_detail| %>
            <% order_item_amount += order_detail.amount %>
          <% end %>
          <%= order_item_amount %>
        </td>
      </tr>
    <% end %>

      <tr>
        <td>
          <%= paginate @order_all %>
        </td>
  </tbody>
</table>