<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 mt-4">
      <div class="bg-light text-center">
        <h4>新規会員登録</h4>
      </div>
    </div>
    <div class="col-md-7">
    </div>
  </div>
  <%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="form-group row">
    <div class="input-group mt-3">
    <label for="inputName" class="col-md-2 col-form-label">名前</label>
    <div class="col-md-4 d-flex">
      <span class="col-md-2 mt-1">(姓)</span><%= f.text_field :last_name, autofocus: true, class:"form-control", placeholder:"令和" %>
    </div>
    <div class="col-md-4 d-flex">
      <span class="col-md-2 mt-1">(名)</span><%= f.text_field :first_name, class:"form-control", placeholder:"道子" %>
    </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="input-group mt-3">
    <label for="inputName2" class="col-md-2 col-form-label">フリガナ</label>
    <div class="col-md-4 d-flex">
      <span class="col-md-2 mt-1">(セイ)</span><%= f.text_field :last_name_kana, class:"form-control", placeholder:"レイワ" %>
    </div>
    <div class="col-md-4 d-flex">
      <span class="col-md-2 mt-1">(メイ)</span><%= f.text_field :first_name_kana, class:"form-control", placeholder:"ミチコ" %>
    </div>
    </div>
  </div>
</div>





  <div class="field">
    <%= f.label "フリガナ" %>
    (セイ)<%= f.text_field :last_name_kana %>
    (メイ)<%= f.text_field :first_name_kana %>
  </div>


  <div class="field">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label "電話番号(ハイフンなし)" %>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label "パスワード(6文字以上)" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "パスワード(確認用)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h2>既に登録済みの方</h2>
<%= render "public/shared/links" %>からログインしてください。
