<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8 pt-3">
      <h4><span class="bg-light">注文情報入力</span></h4>
    </div>
  </div>
  <%= form_with model: @order, url: confirm_orders_path, method: :post do |f| %>
    <div class="form-group row">
      <legend class="col-form-label font-weight-bold">支払い方法</legend>
      <div class="custom-control custom-radio ml-5">
        <%= f.radio_button :payment, Order.payments.key(0), class:"custom-control-input" %>
        <%= f.label :payment_credit_card, Order.payments_i18n[:credit_card], class:"custom-control-label" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="custom-control custom-radio ml-5">
        <%= f.radio_button :payment, Order.payments.key(1), class:"custom-control-input" %>
        <%= f.label :payment_transfer, Order.payments_i18n[:transfer], class:"custom-control-label" %>
      </div>
    </div>
    <div class="form-group row">
      <legend class="col-form-label font-weight-bold">お届け先</legend>
      <div class="custom-control custom-radio ml-5">
        <%= f.radio_button :select_address, "0", class:"custom-control-input" %>
        <%= f.label :select_address_0, "ご自身の住所", class:"custom-control-label" %>
      <p class="ml-2">
        〒<%= @customer.postal_code %> <%= @customer.address %></br>
        <%= @customer.last_name %><%= @customer.first_name %>
      </p>
      </div>
    </div>
    <div class="form-group row">
      <div class="custom-control custom-radio ml-5">
        <%= f.radio_button :select_address, "2", class:"custom-control-input" %>
        <%= f.label :select_address_2, "新しいお届け先", class:"custom-control-label" %>
      </div>
    </div>
    <div class="form-group row pl-4">
      <div class="col-md-3">
        <%= f.label "郵便番号(ハイフンなし)", class:"pl-5" %>
      </div>
      <div class="col-md-auto">
        <%= f.text_field :shipping_postal_code %>
      </div>
    </div>
    <div class="form-group row pl-4">
      <div class="col-md-3">
        <%= f.label "住所",  class:"pl-5" %>
      </div>
      <div class="col-md-auto">
        <%= f.text_field :shipping_address %>
      </div>
    </div>
    <div class="form-group row pl-4">
      <div class="col-md-3">
        <%= f.label "宛名", class:"pl-5" %>
      </div>
      <div class="col-md-auto">
        <%= f.text_field :shipping_name %>
      </div>
    </div>
    <div class="form-group row justify-content-md-center pt-4">
      <div class="col-md-auto">
        <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

