
<div>
  <%= image_tag @item.get_image(300,300) %>
  <p><%= @item.name %></p>
  <p><%= @item.introduction %></p>
  <p>¥ <%= @item.price %>(税抜)</p>
</div>

<% if customer_signed_in? %>
  <%= form_with model: @cart_item do |f| %>
    <%= f.select :amount, *[1..10],{include_blank: "個数選択"} %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.submit "カートに入れる" %>
  <% end %>
<% end %>

