<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">ながのCAKE</a>
            <ul class="nav justify-content-end">
            <% if admin_signed_in? %>
              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "商品一覧", admin_items_path %></button>
              </li>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "会員一覧", admin_customers_path %></button>
              </li>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "注文履歴一覧", admin_path %></button>
              </li>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></button>
              </li>
            <% elsif customer_signed_in? %>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "マイページ", customers_mypage_path, class: 'nav-link text-dark' %></button>
              </li>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %></button>
              </li>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "カート", cart_items_path, class: 'nav-link text-dark' %></button>
              </li>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></button>
              </li>

            <% else %>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "About", about_path, class: 'nav-link text-dark' %></button>
              </li>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %></button>
              </li>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary mr-3"><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %></button>
              </li>

              <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary"><%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %></button>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer class="border-top border-dark">
    </footer>
  </body>
</html>
